{% load staticfiles %}
<html>
<head>
    <title>Much Meme, Very Survey (UGIS 188: Inquiry 2)</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="Much Meme, Very Survey">
    <meta property="og:description" content="Brandon Chinn's Inquiry 2 assignment for UGIS 188">
    <meta property="og:image" content="{% static 'img/fb-logo.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Much Meme, Very Survey</h1>
    </header>
    <form class="content" method="post">
        {% csrf_token %}
        {% block body %}{% endblock %}
    </form>
</body>
</html>
