{% load staticfiles %}
<html>
<head>
    <title>Much Meme, Very Survey (UGIS 188: Inquiry 2)</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="Much Meme, Very Survey">
    <meta property="og:description" content="Brandon Chinn's Inquiry 2 assignment for UGIS 188">
    <meta property="og:image" content="{% static 'img/fb-logo.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% if good_design %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endif %}
</head>
<body>
    <header>
        <h1>Much Meme, Very Survey</h1>
    </header>
</body>
</html>
